/* :root {    
    --dd-primary: #B300B3;
    --dd-secondary: #ccc;
    --dd-warning: #f2c037;
    --dd-light: #EAEFF1;    
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
    width: 100%;
    height: 1rem;
}
@keyframes skeleton-loading {
    0% {
        background: rgb(238, 238, 238);
    }
    100% {
        background: #fff;
    }
}
@keyframes skeleton-stripe {
    100% {
        left: 100%;
    }
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* Background color classes */
.bg-dd-primary {
    background: var(--dd-primary) !important;
}

.bg-dd-secondary {
    background: var(--dd-secondary) !important;
}

.bg-dd-light {
    background: var(--dd-light) !important;
}

.bg-dd-warning {
    background: var(--dd-warning) !important;
}

/* Text color classes */
.text-dd-primary {
    color: var(--dd-primary) !important;
}

.text-dd-secondary {
    color: var(--dd-secondary) !important;
}

.text-dd-light {
    color: var(--dd-light) !important;
}

.text-dd-warning {
    color: var(--dd-warning) !important;
}

.text-dd-shadow {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}

/* Content classes */
.dd-content {
    padding: 120px 20px 20px 20px !important;
    min-height: calc(100vh - 70px);
}

.dd-admin-content {
    margin-top: 70px;
    padding: 20px 20px 20px 20px !important;
    min-height: calc(100vh - 140px);
}

.dd-card {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding: 15px;
    margin-bottom: 20px;
}

.dd-link {
    color: var(--dd-primary);
    cursor: pointer;
    transition: all 0.3s;
}
.dd-link:hover {
    color: var(--dd-primary-lighten);
    text-decoration: underline;
}

.content-title {
    color: var(--dd-primary);
    font-size: 1.8rem;
    font-weight: 400;
}